:root {
  --main-color: rgb(40, 40, 40);
  --secondary-color: rgb(255, 82, 82);
  --white-color: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.light_theme {
  background-color: var(--white-color);
  color: black;
}
.dark_theme {
  background-color: rgb(44, 44, 44);
  color: white;
}

main {
  min-height: calc(100vh - 380px);
}
